form {
  label {
    font-weight: bold;
  }
  fieldset {
    legend {
      font-size: 1em;
      font-weight: bold;
    }
  }
  .form-control:focus {
    box-shadow: none;
  }
  .invalid-feedback {
    display: block;
    font-size: $font-size-base;
  }
  .form-check-label {
    font-weight: normal;
  }
}
