.nav-tabs {
  background: $epode;
  .nav-item {
    margin-bottom: 0;
    width: 35px;
    .nav-link {
      // color: $epode;
      color: $black;
      font-weight: bold;
      outline: 0;
      background: none;
      &.active {
        background: $white;
        // color: $white;
        // font-weight: bold;
      }
    }
  }
}
