.nav-tabs {
  background: $cyan;
  .nav-item {
    margin-bottom: 0;
    width: 35px;
    .nav-link {
      color: $black;
      font-weight: bold;
      outline: 0;
      background: none;
      &.active {
        background: #81efff;
      }
    }
  }
}
