.avatar {
  height: 40px;
  background: $grey-dark;
  // border: $border;
  // border-color: $grey-white;
  border-radius: 50%;
  &.placeholder {
    background: $grey-light;
    text-align: center;
    line-height: 3;
    font-weight: bold;
  }
}
