.badge {
  padding: 0.3rem;
  border-radius: 0;
  &.max-combo { }
  &.grade {
    background-color: #d7ccc8;
    &.ss {
      background-color: $gold;
      .label { letter-spacing: -0.2em }
    }
    &.s { background-color: $silver }
    &.a { background-color: $green }
  }
}
