.badge {
  color: $white;
  font-size: 0.9em;
  font-weight: 400;
  padding: 0.3rem;
  border-radius: 0;
  .value { margin-top: 0.1rem }
  &.max-combo { }
  &.grade {
    &.ss, &.x, &.xh {
      .label { letter-spacing: -0.2em }
    }
    &.s, &.ss, &.x { color: $gold }
    &.sh, &.ssh, &.xh { color: $silver }
    &.a { color: $green }
    .label { font-weight: 600 }
  }
  &.level {
    .label { font-weight: 600 }
  }
  &.lost-first {
    color: #ff5722;
    .label { font-weight: 600 }
  }
}
