$duration: 0.25s;

.collapse {
  header {
    height: $hedaer-height-collapsed;
  }

  .banner {
    height: $banner-height-collapsed;
  }

  .avatar {
    @include square($avatar-size / 2);
  }

  .refresh-time {
    opacity: 0;
  }

  .nav-tabs {
    width: 50%;
    margin-bottom: 3px;
  }

  .mode-select {
    margin-top: -27px;
  }
}

header, .banner, .avatar, .nav-tabs, .refresh-time, .mode-select {
  @include transition(height $duration, width $duration, opacity $duration, margin $duration);
}
