$duration: 0.5s;

.collapse-header {
  header {
    height: 50px;
  }
  .banner {

  }
  .nav-tabs {
    width: 50%;
  }
  .page {
    margin-top: 50px;
  }
}

header {
  -webkit-transition: height $duration;
}

.banner {
  -webkit-transition: top $duration linear;
}

.nav-tabs {
  -webkit-transition: width $duration;
}

.page {
  -webkit-transition: margin $duration;
}

.avatar {
  -webkit-transition: height $duration;
}

// MOVE ME
.banner {
  width: 50%;
}
