.nav-tabs {
  background: $grey-light;
  border: none;
  color: #e0e0e0;
  font-size: 0.9em;
  font-weight: 600;
  .nav-item {
    width: 35px;
    margin-bottom: 0;
    .nav-link {
      outline: 0;
      text-transform: uppercase;
      border: none;
      background: none;
      &.active {
        color: $white;
        border: none;
        border-bottom: 0.1rem solid $grey-white;
      }
    }
  }
}
