.nav-tabs {
  font-size: 0.7rem;
  border: none;
  color: $white;
  .nav-item {
    width: 35px;
    margin-bottom: none;
    .nav-link {
      border-top: 0.3rem solid $grey-dark;
      background-color: $grey-dark;
      padding: 0.5rem 0.3rem;
      &.active {
        color: $white;
        border: none;
        border-top: 0.3rem solid $grey-light;
      }
      &:hover {
        border-left: none;
        border-right: none;
      }
    }
  }
}
