.profile {
  height: 100%;
  .showcase {
    margin: 0.5rem 0 1rem 0;
    .badge {
      height: 35px;
      width: 65px;
      &.s { color: $silver }
    }
  }
}

@-moz-document url-prefix() {
  .showcase {
    margin: 0.5rem 0 !important;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .showcase {
    margin: 0.5rem 0 !important;
  }
}
