.profile {
  height: 100%;
  .loading { height: 194px }
  .showcase {
    margin: 0.5rem 0;
    .badge {
      height: 35px;
      width: 65px;
      &.s { color: $silver }
    }
  }
}

/*
@-moz-document url-prefix() {
  padding: 0.6rem 0.8rem;
  .showcase {
    margin: 0.5rem 0 !important;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .showcase {
    margin: 0.5rem 0 !important;
  }
}
*/
