.result-list-item {
  &:not(:last-child) {
    border-bottom: 1px solid $grey-3;
  }
  a {
    max-height: 38px;
    overflow: hidden;
  }
  .badge {
    width: 40px;
  }
  .mods {
    .badge {
      width: auto;
    }
  }
}
