.result-list-item {
  padding: 0 $padding $padding $padding;
  &:first-child {  padding-top: $padding }
  p { margin-bottom: 0.3rem }
  .beatmap-link {
    display: block;
    overflow: hidden;
  }
  .badges {
    .badge { width: 40px }
  }
  .mods {
    .badge { background-color: $grey-light }
  }
}
