.table {
  margin-bottom: 0;
  background-color: $white;
  tr:nth-child(even) {
    td{ background: $grey-light }
  }
  /*
  tr:not(:last-child) {
    td { border-bottom: 1px solid $grey-dark }
  }
  */
  td {
    border: none;
  }
  &.table-sm {
    td { padding: 0.1rem 0.3rem }
  }
}
