@import "../common/variables";

$viewer-height: 380px;
$viewer-width: 335px;
$header-height: 134px;
$hedaer-height-collapsed: 37px;
$banner-height: 100px;
$banner-height-collapsed: 37px;
$avatar-size: 40px;
