@import "../theme/theme";
@import "nav-tabs";
@import "table";
@import "result-list";
@import "result-list-item";
@import "scroll-bar";
@import "badge";
@import "profile";
@import "activity";
@import "best-scores";

body {
  background-color: $grey-dark;
  color: $white;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

small { color: $grey-white }

h1, h2 {
  padding: $padding;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-size: 0.9em;
  font-weight: normal;
  border-bottom: $border;
}

table, select { width: 100% }

table {
  td:first-child { color: $grey-white }
}

select {
  padding: $padding;
  background: $grey-dark;
  border: none;
  border-bottom: $border;
  color: $white;
  &:focus { outline: none }
}

.page {
  position: relative;
  height: 277px;
}
