@import "../theme/theme";
@import "nav-tabs";
@import "table";
@import "loading";
@import "avatar";
@import "result-list";
@import "result-list-item";
@import "scroll-bar";
@import "badge";
@import "profile";
@import "activity";
@import "best-scores";

body {
  background-color: $grey-dark;
  color: $white;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

header {
  padding: $padding;
  background: $grey-light;
  height: 67px;
  .osu-profile-link {
    i { display: none }
  }
}

small { color: $grey-white }

h1, h2 {
  padding: 0.7rem 0.8rem;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  // border-bottom: $border;
}

table, select { width: 100% }

table {
  td:first-child { color: $grey-white }
}

select {
  padding: 0.6rem 0.8rem;
  background: $grey-dark;
  border: none;
  // border-bottom: $border;
  color: $white;
  &:focus { outline: none }
}

@-moz-document url-prefix() {
  // h1, h2, select { padding: 0.6rem 0.8rem }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // h1, h2 { padding: 0.6rem 0.8rem }
}


.page {
  position: relative;
  height: 238px;
}
