.nav-tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border: none;
  .nav-item {
    width: 35px;
    margin-bottom: 0;
    .nav-link {
      color: $grey-4;
      outline: 0;
      border: none;
      background: none;
      &.active {
        color: $white;
        font-weight: bold;
      }
    }
  }
}
