@import "forms.scss";
@import "nav-tabs.scss";

body {
  background-color: $twitch-bg;
  color: $black;
  font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

small {
  font-size: 0.9em;
}

button {
  cursor: pointer;
}
