$grey-light: #fafafa;
$grey-mid: #eee;
$grey-dark: #494949;
$pink-medium: #f06292;
$twitch-bg: #FAF9FA;
$brown-light: #d7ccc8;
$gold-light: #fff9c4;
$silver-light: #cfd8dc;
$green-light: #c8e6c9;

// Bootstrap overrides
$blue: red;
$enable-rounded: false;

$font-size-base: 0.78rem;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;
