$black: #19171c;
$white: #faf9fa;
$gold: #FFD801;
$silver: #46C7C7;
$green: #57E964;
$red: #ff5722;
$blue: #19171c;
$cyan: #43C6DB;

// Greys
$navajos: #212121;
$libels: #303030;
$ilonggo: #3b3b3b;
$epode: #d4cdcf;

// Font
$font-size-base: 1rem;

// Bootstrap
$enable-rounded: false;
$enable-shadows: true;
