$black: #19171c;
$white: #faf9fa;
$gold: #ffea00;
$silver: #80deea;
$green: #76ff03;
$red: #ff5722;
$blue: #19171c;

// Greys
$navajos: #212121;
$libels: #303030;
$ilonggo: #3b3b3b;
$epode: #d4cdcf;

// Cyans
$stagier: #283747;
$unbars: #2E4053;
$bad-ass: #34495E;
$endzone: #5D6D7E;

// Font
$font-size-base: 0.8rem;

// Bootstrap
$enable-rounded: false;
$enable-shadows: true;
