$grey-light: #F2F4F4;
$grey-dark: #E5E8E8;
$black: #19171c;
$white: #faf9fa;
$gold: #ffea00;
$silver: #1de9b6;
$green: #76ff03;
$blue: #0097a7;

$enable-rounded: false;

$font-size-base: 0.7rem;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 1) !default;
