@import "variables";
@import "utils";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/buttons";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/badge";
@import "bootstrap/list-group";
@import "bootstrap/progress";
@import "bootstrap/utilities";
@import "viewer/viewer";

body { background-color: $grey-light }

main { height: 100vh }

h1 {
  background-color: $black;
  color: $white;
  padding: 0.3rem;
  font-size: $font-size-base;
  margin-bottom: 0;
}

h2 {
  background-color: $grey-dark;
  padding: 0.5rem 0.3rem;
  font-size: 0.7rem;
  margin-bottom: 0;
}

table, select { width: 100% }

select {
  border: none;
  padding: 0.5rem 0.3rem;
  background: $grey-light;
  width: 100%;
  &:focus {
    outline: none;
  }
}

p { margin-bottom: 0.3rem }

.page {
  height: 308px;
  // border-bottom: 1px solid $grey-dark;
}

@-moz-document url-prefix() {
  // .page { height: 240px }
}
