@import "vars";
@import "bootstrap/bootstrap";
@import "mixins/mixins";
@import "utils";
@import "pages/viewer";
@import "modules/viewer/viewer";
@import "layouts/collapsed";

$header-height: 110px;

body {
  background: $navajos;
  color: $white;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

header {
  position: fixed;
  height: $header-height;
}

a {
  color: inherit;
  &:hover {
    color: inherit
  }
}

.page {
  padding-top: $header-height;
  > div {
    height: 238px;
  }
}

.profile {
  .badge {
    flex-grow: 1;
    &.s {
      color: $silver;
    }
  }
}

.activity {
  li {
    height: 75px;
  }
}

.best-scores {
  li {
    height: 90px;
  }
}

/*
.result-list-item {
  &:not(:last-child) {
    border-bottom: 1px solid $grey-3;
  }
  a {
    max-height: 38px;
    overflow: hidden;
  }
  .badge {
    width: 40px;
  }
  .mods {
    .badge {
      width: auto;
    }
  }
}
*/
