@import "variables";
@import "utils";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/buttons";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/badge";
@import "bootstrap/list-group";
@import "bootstrap/progress";
@import "bootstrap/utilities";
@import "viewer/viewer";

body {
  background-color: $grey-dark;
  color: $white;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

small {
  color: #e0e0e0;
}

// main { height: 100vh }

h1 {
  background: $grey-dark;
  color: $white;
  padding: 0.5rem;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  color: $white;
  padding: 0.5rem;
  background: $grey-dark;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid $grey-light;
  margin-bottom: 0;
}

table, select { width: 100% }

table {
  td:first-child {
    color: #e0e0e0;
  }
}

.table {
  td { padding: 0.3rem 0.5rem }
}

select {
  border: none;
  padding: 0.5rem;
  background: $grey-dark;
  border-bottom: 1px solid $grey-light;
  color: $white;
  width: 100%;
  &:focus {
    outline: none;
  }
}

p { margin-bottom: 0.3rem }
