.animate.beat {
  box-shadow: 0 0 0 0 rgba($grey-3, 1);
  @include animation(beat 0.5s infinite);
  @include keyframes(beat) {
    25% { -webkit-transform: scale(1.2); }
    75% { box-shadow: 0 0 0 20px rgba($grey-3, 0); }
    100% {
      -webkit-transform: scale(1);
      box-shadow: none;
    }
  }
}
